<% "use strict" %>
<article class="article">
	<header class="article-header">
		<h1>
			<% if (singlePost) { %>
				<%= post.title %>
			<% } else { %>
				<a class="post-title" href="/<%= post.link %>" data-post-title="<%= post.title %>"><%= post.title %></a>
			<% } %>
		</h1>
		<h4>
			<% const month = post.date.toLocaleString('en-us', { month: "short" }) %>
			<% const date = month + ' ' + post.date.getDate() + ', ' + post.date.getFullYear() %>
			<time datetime="<%= date %>">
				<%= date %>
			</time>
			<% if (post.readingTime) { %>
				: <span class="tilde">&nbsp;&#126;</span> <%= post.readingTime %>
			<% } %>
		</h4>
	</header>
	<%- post.body %>
</article>
