<article>
	<header>
		<h1>
			<a href="/<%= post.link %>"><%= post.title -%></a>
		</h1>
		<h4>
			<% var month = post.date.toLocaleString('en-us', { month: "short" }) %>
			<% var date = month + ' ' + post.date.getDay() + ', ' + post.date.getFullYear() %>
			<time datetime="<%= date %>">
				<%= date %>
			</time>
		</h4>
	</header>
	<%- post.body %>
</article>
