<%- QUOTES = [
  'Tables turn, bridges burn, you live and learn.',
  'Dream big, if you dare to dream.',
  "Your time is limited, so don't waste it living someone else's life.",
  'Be yourself, everyone else is taken.',
  '[...] avoid the trap of thinking you have something to lose.',
  "A lot can happen between now and 'never'."
]
    EMOJI = %w( ðŸ’¤ ðŸŒŸ ðŸ’­ ðŸ—¿ ðŸ‘£ ðŸ¶ )
-%>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <%- @title = 'Roland Leth' unless @title %>
  <title><%= @title -%></title>
  <%- if @meta_canonical %>
    <%- unless @meta_canonical == '404 error raised' -%>
      <link rel="canonical" href="<%= 'http://rolandleth.com/' + @meta_canonical -%>">
    <%- end -%>
  <%- else -%>
    <link rel="canonical" href="http://rolandleth.com">
  <%- end -%>
  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicons/192x192.png"><!-- Android -->
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/favicons/180x180.png">
  <!--Metadata-->
  <link rel="author" type="text/plain" href="/humans.txt">
  <link href="http://rolandleth.com" rel="alternate" title="Roland Leth" type="application/atom+xml">
  <meta name="description" content="<%= @meta_description -%>">
  <meta name="author" content="Roland Leth">
  <!--Stylesheets-->
  <link rel="stylesheet" href="/assets/application.css">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <!--Mobile settings-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="375">
  <!--Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/assets/base.js"></script>
  <!--Tracking-->
  <script async type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40255117-4']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!--Apple's auto affiliate link script-->
  <script async type='text/javascript'>
	  var _merchantSettings = _merchantSettings || [];
	  _merchantSettings.push(['AT', '1001l54C']);
	  (function () {
		  var autolink = document.createElement('script');
		  autolink.type = 'text/javascript';
		  autolink.async = true;
		  autolink.src = ('https:' == document.location.protocol) ? 'https://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js' : 'http://autolinkmaker.itunes.apple.com/js/itunes_autolinkmaker.js';
		  var s = document.getElementsByTagName('script')[0];
		  s.parentNode.insertBefore(autolink, s);
	  })();
  </script>
</head>

<body>
  <nav class="header">
    <!--Banner part-->
    <div class="banner-container">
      <div class="banner" role="banner">
        <a href="/"><%= 'Roland Leth' %></a>
      </div>
      <form class="search banner-search" action="/search" method="get">
        <input type="text" class="search banner-search" name="query" size="20" maxlength="30" placeholder="Search..."/>
      </form>
    </div>
    <!--Navigation part-->
    <div role="navigation" class="navigation">
      <a href="/projects"><i class="fa fa-code"></i></a>
      <a href="http://github.com/rolandleth"><i class="fa fa-github"></i></a>
      <a href="https://ro.linkedin.com/pub/roland-leth/35/4b9/a50"><i class="fa fa-linkedin"></i></a>
      <a href="/about"><i class="fa fa-user"></i></a>
      <a href="https://twitter.com/rolandleth"><i class="fa fa-twitter"></i></a>
      <a href="/feed"><i class="fa fa-rss"></i></a>
    </div>
    <form class="search" action="/search" method="get">
      <input type="text" class="search" name="query" size="17" maxlength="30" placeholder="Search..."/>
    </form>
  </nav>
  <!--Main body-->
  <section>
    <%= yield %>
  </section>
  <!--Footer-->
  <footer role="contentinfo">
    <div class="quote">
      <%= EMOJI.sample %>&nbsp&nbsp&nbsp<%= QUOTES.sample %>
    </div>
    <div class="copyright">
      &copy; <%= Time.now.year %>&nbsp<a href="/archive">Roland Leth</a>
    </div>
    <a href="https://plus.google.com/116830737199229269159?rel=author"></a>
  </footer>
</body>
</html>
