<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<%- @title = @title + ' | ' if @title -%>
  <title><%= @title -%>Roland Leth</title>
  <link rel="stylesheet" href="/assets/application.css">
  <link rel="author" type="text/plain" href="/humans.txt">
	<%- if @meta_canonical %>
		<%- unless @meta_canonical == '404 error raised' -%>
	    <link rel="canonical" href="<%= 'http://rolandleth.com/' + @meta_canonical -%>">
		<%- end -%>
	<%- else -%>
    <link rel="canonical" href="http://rolandleth.com">
	<%- end -%>
  <link href="http://rolandleth.com/feed" rel="alternate" title="Roland Leth" type="application/atom+xml">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/misc/apple-touch-icon-144x144.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="MobileOptimized" content="320">
	<meta name="description" content="<%= @meta_description -%>">
	<meta name="author" content="Roland Leth">
  <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-40255117-4']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
  </script>
  <script type="text/javascript">
	  var GoSquared = {acct: "GSN-879086-L"};
	  (function(w){
		  function gs(){
			  w._gstc_lt = +new Date;
			  var d = document, g = d.createElement("script");
			  g.type = "text/javascript";
			  g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
			  var s = d.getElementsByTagName("script")[0];
			  s.parentNode.insertBefore(g, s);
		  }
		  w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs);
	  })(window);
  </script>
</head>

<body>
  <nav role="navigation" class="header">
    <h1 role="banner"><a href="/">Roland Leth</a></h1>
    <a href="/projects">Projects</a>
    <a href="/about">About</a>
    <a href="http://github.com/rolandleth">GitHub</a>
  </nav>
  <section>
    <%= yield %>
  </section>
  <footer role="contentinfo">
    <p>© <%= Time.now.year %> Roland Leth - <a href="/feed">RSS</a></p>
	  <a href="https://plus.google.com/116830737199229269159?rel=author"></a>
  </footer>
</body>
</html>
